@{
    ViewData["Title"] = "Home Page";
}
<h1>Become a User</h1>


@model Bank.Models.RegisterViewModel


<h3>Reg</h3>
<form asp-controller="Home" asp-action="RegisterHandler" method="post" class="form-inline">
    
    <label asp-for="FirstName">First Name</label><br>
    <input asp-for="FirstName"class="form-control"/>
    <span asp-validation-for="FirstName" class="text-danger"></span>
    <br>
    
    <label asp-for="LastName"> Last Name</label><br>
    <input asp-for="LastName"class="form-control"/>
    <span asp-validation-for="LastName" class="text-danger"></span>
    <br>
    
    <label asp-for="Email"></label><br>
    <input asp-for="Email"class="form-control"/>
    <span asp-validation-for="Email" class="text-danger"></span>
    <br>
    
    <label asp-for="Password"></label><br>
    <input asp-for="Password"class="form-control"/>
    <span asp-validation-for="Password" class="text-danger"></span>
    <br>
    
    <label asp-for="Cpassword">Confrim Password</label><br>
    <input asp-for="Cpassword" class="form-control"/>
    <span asp-validation-for="Cpassword" class="text-danger"></span>
    <br><br>
    <button type="submit" class="btn btn-primary">Create new User</button>
</form>
<br>
 <a href="/login">Already a User?</a>

